syntax on                           " Syntax highlighting
filetype plugin indent on           " Detect file types

set autoindent                      " Indent at the same level as previous line
set autoread                        " Read file changes made outside of vim
set autowrite                       " Write files when leaving a modified buffer
set backspace=indent,eol,start      " Allow backspace over listed items
set cursorline                      " Enable cursor row highlighting
set display=lastline                " Show as much as possible of last line
set encoding=utf-8                  " Default encoding
set expandtab                       " Expand tabs into spaces
set fileformats=unix,dos,mac        " File formats priority
set history=10000                   " Maximum history entries
set hlsearch                        " Highlight search terms
set ignorecase                      " Case insensitive search by default
set shiftwidth=4                    " Use 4 spaces for shifting
set smartcase                       " Case sensitive search when uppercase present
set incsearch                       " Incremental search
set laststatus=2                    " Always display status line
set mouse=a                         " Enable mouse usage
set number                          " Show line numbers
set rnu                             " Show relative line numbers
set ruler                           " Show ruler
set shortmess=atOI                  " Hides empty vim message
set showcmd                         " Show partial commands
set showmode                        " Show current mode
set smarttab                        " Smart tabs
set softtabstop=4                   " Backspace deletes indents
set report=0                        " Always report number of lines changed by commands
set t_Co=256                        " Use 256 colors
set tabstop=4                       " Show tabs with 4 spaces width
set ttyfast                         " Faster redrawing

set nomodeline                      " Disable modelines
set modelines=0

" Use system clipboard if available (see:
" http://vim.wikia.com/wiki/Accessing_the_system_clipboard)
if has('unnamedplus')
  set clipboard=unnamedplus,unnamed
else
  set clipboard+=unnamed
endif

" Use a single directory for all swap files (see:
" https://vi.stackexchange.com/questions/177/what-is-the-purpose-of-swap-files) 
set directory^=$HOME/.vim/tmp//

" :W sudo saves the file
" (useful for handling the permission-denied error)
command! W w !sudo tee % > /dev/null

" Remove all trailing whitespaces
nnoremap <F5> :let _s=@/<Bar>:%s/\s\+$//e<Bar>:let @/=_s<Bar><CR>

" Automatically leave insert mode after 'updatetime' milliseconds of
" inactivity
au CursorHoldI * stopinsert

" Emulated extensions
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
