# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see
# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  "'" {actionId: ShowTypeBookmarks, description: Go to mnemonic bookmark}
  ";" {actionId: RecentFiles, description: Recent files}
  "\n" {actionId: HideActiveWindow, description: Hide active window}
  a {
    description: Ataman...
    bindings {
      a {actionId: VimFindActionIdAction, description: Toggle action ID tracking}
      c {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
      r {actionId: ReloadAtamanConfigAction, description: Reload from ~/.atamanrc.config}
    }
  }
  b {
    description: Buffer/Tabs Navigation...
    bindings {
      d {actionId: CloseContent, description: Close}
      D {actionId: CloseAllEditors, description: Close All}
      s {actionId: NewScratchBuffer, description: Scratch Buffer}
      u {actionId: ReopenClosedTab, description: Reopen Closed Tab}
    }
  }
  c {
    description: Code...
    bindings {
      a {actionId: InspectCode, description: Analyze}
      c {actionId: GotoClass, description: Go to class}
      f {
        description: Formatting...
        bindings {
          s {actionId: EditorSortLines, description: Sort lines}
          f {actionId: ReformatCode, description: Reformat code}
        }
      }
      h {actionId: CallHierarchy, description: Show call hierarchy}
      i {actionId: GotoImplementation, description: Go to implementation}
      k {actionId: QuickJavaDoc, description: Quick javadoc popup}
      o {actionId: OptimizeImports, description: Optimize imports}
      p {actionId: QuickImplementations, description: Peek implementation}
      r {actionId: RenameElement, description: Rename element}
      R {actionId: RefactoringMenu, description: Refactor}
      s {actionId: ActivateStructureToolWindow, description: Show structure}
      S {actionId: GotoSuperMethod, description: Go to super method}
      t {actionId: InsertLiveTemplate, description: Insert template}
      y {actionId: CopyReference, description: Copy reference}
    }
  }
  d {
    description: Debug...
    bindings {
      b {actionId: ToggleLineBreakpoint, description: Toggle breakpoint}
      B {actionId: ViewBreakpoints, description: Show breakpoints}
      c {actionId: ForceRunToCursor, description: Run to cursor}
      e {actionId: EvaluateExpression, description: Evaluate expression}
      j {actionId: StepInto, description: Step into}
      k {actionId: StepOut, description: Step out}
      l {actionId: StepOver, description: Step over}
      r {actionId: Resume, description: Resume}
      s {actionId: Stop, description: Stop}
    }
  }
  D {
    description: Database...
    bindings {
      c {actionId: Jdbc.OpenConsole.New, description: Open new DB console}
      d {actionId: ActivateDatabaseToolWindow, description: Open DB tool window}
      r {actionId: DatabaseView.Refresh, description: Refresh selected DB connection}
      s {actionId: DatabaseView.PropertiesAction, description: Open data sources}
      o {actionId: ServiceView.ActivateDatabaseServiceViewContributor, description: Toggle output window}
    }
  }
  e {
    description: Error...
    bindings {
      e {actionId: ShowErrorDescription, description: Show error description}
      j {actionId: GotoNextError, description: Show error description}
      k {actionId: GotoPreviousError, description: Go to previous error}
    }
  }
  f {actionId: GotoFile, description: Go To File}
  F {
    description: File...
    bindings {
      n {actionId: NewElement, description: New}
      r {actionId: RenameFile, description: Rename}
      R {actionId: SynchronizeCurrentFile, description: Reload file}
      s {actionId: SaveDocument, description: Save File}
      S {actionId: SaveAll, description: Save All}
      y {actionId: CopyReferencePopup, description: Copy filename}
    }
  }
  g {
    description: Git...
    bindings {
      b {actionId: Git.Branches, description: Git branches}
      B {actionId: Annotate, description: Annotate Git Blame}
      c {actionId: CheckinProject, description: Commit changes}
      C {actionId: Git.ResolveConflicts, description: Resolve conflicts}
      h {actionId: Vcs.ShowTabbedFileHistory, description: Show file history}
      j {actionId: VcsShowNextChangeMarker, description: Go to next change}
      k {actionId: VcsShowPrevChangeMarker, description: Go to previous change}
      l {actionId: Vcs.Show.Local.Changes, description: Show local changes}
      m {
        description: Merge requests...
        bindings {
          b {actionId: Majera.CodeReview.GitLab.CheckoutPullRequestBranch, description: Checkout review branch}
          c {actionId: Majera.CodeReview.GitLab.LeaveCommentForLineAction, description: Add review comment}
          h {actionId: Diff.PrevChange, description: Go to previous changed file}
          j {actionId: NextDiff, description: Go to next change}
          k {actionId: PreviousDiff, description: Go to previous change}
          l {actionId: Diff.NextChange, description: Go to next changed file}
          m {actionId: ActivateGitLabMergeRequestsToolWindow, description: Show merge requests window}
          o {actionId: Majera.CodeReview.GitLab.OpenPullRequestInBrowser, description: Open in browser}
          p {actionId: Majera.CodeReview.GitLab.ShowPullRequestDiffPreview, description: Toggle changed files preview}
          r {actionId: Majera.CodeReview.GitLab.RefreshSinglePullRequest, description: Refresh merge request}
          s {actionId: EditSource, description: Jump to source file}
          t {actionId: Majera.CodeReview.GitLab.ChangeFileReviewedState, description: Toggle file reviewed state}
        }
      }
      L {actionId: Vcs.Show.Log, description: Show Log}
      p {actionId: Git.Pull, description: Pull changes}
      P {actionId: Vcs.Push, description: Push changes}
      r {actionId: Git.Rebase, description: Rebase}
      s {actionId: Git.Stash, description: Stash}
      S {actionId: Git.Unstash, description: Unstash}
      u {actionId: uk.co.ben_gibson.git.link.ui.actions.menu.CopyAction, description: Copy URL to line}
    }
  }
  G {
    description: Go language...
    bindings {
      t {actionId: com.goide.vgo.actions.VgoTidyAction, description: go mod tidy}
      v {actionId: com.goide.vgo.actions.VgoVendorAction, description: go mod vendor}
      s {actionId: com.goide.vgo.actions.VgoSyncAction, description: go sync}
    }
  }
  i {actionId: ShowIntentionActions, description: Local Intentions}
  l {actionId: RecentLocations, description: Recent locations}
  m {
    description: Marks...
    bindings {
      b {actionId: ToggleBookmark, description: Bookmark}
      j {actionId: GotoNextBookmark, description: Go to next line mark}
      k {actionId: GotoPreviousBookmark, description: Go to previous line mark}
      m {actionId: ToggleBookmarkWithMnemonic, description: Bookmark With Mnemonic}
      s {actionId: ShowBookmarks, description: Show bookmarks}
    }
  }
  o {actionId: project-opener, description: Open project}
  p {actionId: FrameSwitchAction, description: Switch project}
  q {actionId: CloseEditor, description: Close active}
  Q {actionId: CloseAllEditorsButActive, description: Close other}
  r {
    description: Run...
    bindings {
      l {actionId: Rerun, description: Rerun Latest}
      R {actionId: RunAnything, description: Run Anything}
      r {actionId: ChooseRunConfiguration, description: Choose Run Configuration}
    }
  }
  s {
    description: Search/replace...
    bindings {
      r {actionId: Replace, description: Replace In File}
      R {actionId: ReplaceInPath, description: Replace in Files}
      s {actionId: SearchEverywhere, description: Search Everywhere}
    }
  }
  S {
    description: Session...
    bindings {
      o {actionId: WelcomeScreen.Settings, description: Options}
      p {actionId: WelcomeScreen.Plugins, description: Plugins}
      r {actionId: RestartIde, description: Restart}
      R {actionId: InvalidateCaches, description: Invalidate Caches And Restart}
      q {actionId: CloseProject, description: Close Project}
      Q {actionId: Exit, description: Exit}
    }
  }
  t {
    description: Open Tool...
    bindings {
      d {actionId: ActivateDebugToolWindow, description: Show debug window}
      D {actionId: ActivateDatabaseToolWindow, description: Show database window}
      e {actionId: ActivateProblemsViewToolWindow, description: Show problems}
      f {actionId: ActivateProjectToolWindow, description: Show file tree}
      h {actionId: HTTPClientGroup, description: Show HTTP client}
      H {actionId: LocalHistory.ShowHistory, description: Show file history}
      r {actionId: ActivateRunToolWindow, description: Run}
      t {actionId: ActivateTerminalToolWindow, description: Terminal}
      w {actionId: HideAllWindows, description: Show/Hide All Windows}
    }
  }
  w {actionId: FindInPath, description: Run text search}
  v {
    description: Views...
    bindings {
      d {actionId: ToggleDistractionFreeMode, description: Distraction Free Mode}
      f {actionId: ToggleFullScreen, description: Fullscreen Mode}
      p {actionId: TogglePresentationMode, description: Presentation Mode}
      z {actionId: ToggleZenMode, description: Zen Mode}
    }
  }
  x {
    description: Splits...
    bindings {
      v {actionId: SplitVertically, description: Split right}
      h {actionId: SplitHorizontally, description: Split down}
      q {actionId: Unsplit, description: Unsplit}
      u {actionId: ReopenClosedTab, description: Reopen Closed Tab}
    }
  }
  y {actionId: PasteMultiple, description: Clipboard}
  z {
    description: Zoom...
    bindings {
      k {actionId: EditorIncreaseFontSize, description: Increase Font Size}
      j {actionId: EditorDecreaseFontSize, description: Decrease Font Size}
      h {actionId: EditorResetFontSize, description: Reset Font Size}
      w {actionId: EditorToggleUseSoftWraps, description: Line Soft Wrapping}
      z {actionId: TabShiftActions.ToggleMaximizeRestore, description: Toggle split zoom}
    }
  }
}
