# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see
# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  ";" {actionId: RecentFiles, description: Recent files}
  "\n" {actionId: HideActiveWindow, description: Hide active window}
  l {actionId: RecentLocations, description: Recent locations}
  b {
    description: Buffer/Tabs Navigation...
    bindings {
      B {actionId: RecentChangedFiles, description: Recent Changed Files}
      d {actionId: CloseContent, description: Close}
      D {actionId: CloseAllEditors, description: Close All}
      j {actionId: NextTab, description: Next Tab}
      k {actionId: PreviousTab, description: Previous Tab}
      x {actionId: NewScratchBuffer, description: Scratch Buffer}
      "[" {actionId: Back, description: Back}
      "]" {actionId: Forward, description: Forward}
    }
  }
  c {
    description: Code...
    bindings {
      a {actionId: InspectCode, description: Analyze}
      c {actionId: CommentByLineComment, description: Comment}
      f {actionId: ReformatCode, description: Reformat code}
      i {actionId: GotoImplementation, description: Go to implementation}
      k {actionId: QuickJavaDoc, description: Quick javadoc popup}
      o {actionId: OptimizeImports, description: Optimize imports}
      r {actionId: RefactoringMenu, description: Refactor}
      s {actionId: ActivateStructureToolWindow, description: Show structure}
      S {actionId: GotoSuperMethod, description: Go to super method}
      t {actionId: InsertLiveTemplate, description: Insert template}
      y {actionId: CopyReference, description: Copy reference}
    }
  }
  d {
    description: Debug...
    bindings {
      b {actionId: ToggleLineBreakpoint, description: Toggle breakpoint}
      B {actionId: ViewBreakpoints, description: Show breakpoints}
      d {actionId: ChooseDebugConfiguration, description: Run debugger}
      D {actionId: ActivateDebugToolWindow, description: Show debug window}
    }
  }
  e {
    description: Error...
    bindings {
      e {actionId: ShowErrorDescription, description: Show error description}
      j {actionId: GotoNextError, description: Show error description}
      k {actionId: GotoPreviousError, description: Go to previous error}
    }
  }
  f {actionId: GotoFile, description: Go To File}
  F {
    description: File...
    bindings {
      n {actionId: NewElement, description: New}
      r {actionId: SynchronizeCurrentFile, description: Reload From Disk}
      R {actionId: Synchronize, description: Reload All From Disk}
      s {actionId: SaveDocument, description: Save File}
      S {actionId: SaveAll, description: Save All}
      y {actionId: CopyReferencePopup, description: Copy filename}
    }
  }
  g {
    description: Git...
    bindings {
      b {actionId: Annotate, description: Annotate Git Blame}
      c {actionId: CheckinProject, description: Commit changes}
      l {actionId: Vcs.Show.Log, description: Show Log}
      L {actionId: Vcs.Show.Local.Changes, description: Show local changes}
      s {actionId: Git.Stash, description: Stash}
      S {actionId: Git.Unstash, description: Unstash}
    }
  }
  t {
    description: Toggle...
    bindings {
      d {actionId: ToggleDistractionFreeMode, description: Distraction Free Mode}
      f {actionId: ActivateProjectToolWindow, description: Show file tree}
      F {actionId: ToggleFullScreen, description: Fullscreen Mode}
      l {actionId: EditorToggleUseSoftWraps, description: Line Soft Wrapping}
      m {actionId: ToggleBookmark, description: Bookmark}
      M {actionId: ToggleBookmarkWithMnemonic, description: Bookmark With Mnemonic}
      n {actionId: EditorToggleShowLineNumbers, description: Line Numbers}
      p {actionId: ActivateProblemsViewToolWindow, description: Show problems}
      P {actionId: TogglePresentationMode, description: Presentation Mode}
      z {actionId: ToggleZenMode, description: Zen Mode}
      w {actionId: HideAllWindows, description: Show/Hide All Windows}
    }
  }
  i {actionId: ShowIntentionActions, description: Local Intentions}
  o {
    description: Open Tool...
    bindings {
      a {actionId: Android.RunAndroidAvdManager, description: AVD Manager}
      b {actionId: ActivateBuildToolWindow, description: Build}
      f {actionId: ActivateFavoritesToolWindow, description: Favorites}
      g {actionId: ActivateGradleToolWindow, description: Gradle Tasks}
      h {actionId: LocalHistory.ShowHistory, description: History}
      i {actionId: Android.RunLegacyLayoutInspector, description: Layout inspector}
      I {actionId: ActivateAppInspectionToolWindow, description: App Inspection}
      l {actionId: ActivateLogcatToolWindow, description: Logcat}
      m {actionId: ShowBookmarks, description: Bookmarks}
      p {actionId: ActivateProjectToolWindow, description: Project}
      r {actionId: ActivateRunToolWindow, description: Run}
      t {actionId: ActivateTerminalToolWindow, description: Terminal}
      v {actionId: Vcs.Show.Log, description: Vcs}
    }
  }
  p {actionId: FrameSwitchAction, description: Switch project}
  q {actionId: CloseEditor, description: Close active}
  Q {actionId: CloseAllEditorsButActive, description: Close other}
  r {actionId: RecentLocations, description: Recent Locations}
  R {
    description: Run...
    bindings {
      t {actionId: RerunTests, description: Rerun Tests}
      r {actionId: RunAnything, description: Run Anything}
      s {actionId: Android.SyncProject, description: Sync Project With Gradle}
      l {actionId: Rerun, description: Rerun Latest}
      c {actionId: MakeModule, description: Compile Current Module}
      d {actionId: AndroidConnectDebuggerAction, description: Connect Debugger To Android Device}
      f {actionId: ChooseRunConfiguration, description: Choose Run Configuration}
      a {actionId: DeviceAndSnapshotComboBox, description: Select AVD}
    }
  }
  s {
    description: Search...
    bindings {
      s {actionId: Find, description: Find In File}
      r {actionId: Replace, description: Replace In File}
      R {actionId: ReplaceInPath, description: Replace in Files}
      c {actionId: GotoClass, description: Go To Class}
      i {actionId: GotoSymbol, description: Go To Symbol}
      e {actionId: SearchEverywhere, description: Search Everywhere}
    }
  }
  S {
    description: Session...
    bindings {
      a {
        description: Ataman...
        bindings {
          c {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
          r {actionId: ReloadAtamanConfigAction, description: Reload from ~/.atamanrc.config}
        }
      }
      i {actionId: VimFindActionIdAction, description: Toggle action ID tracking}
      p {actionId: WelcomeScreen.Plugins, description: Plugins}
      r {actionId: RestartIde, description: Restart}
      R {actionId: InvalidateCaches, description: Invalidate Caches And Restart}
      q {actionId: CloseProject, description: Close Project}
      Q {actionId: Exit, description: Exit}
    }
  }
  w {actionId: FindInPath, description: Find in Files}
  x {
    description: Splits...
    bindings {
      v {actionId: SplitVertically, description: Split right}
      h {actionId: SplitHorizontally, description: Split down}
      H {actionId: TabShiftActions.ShiftLeft, description: Move tab to left split}
      J {actionId: TabShiftActions.ShiftDown, description: Move tab to down split}
      K {actionId: TabShiftActions.ShiftUp, description: Move tab to up split}
      L {actionId: TabShiftActions.ShiftRight, description: Move tab to right split}
      q {actionId: Unsplit, description: Unsplit}
      u {actionId: ReopenClosedTab, description: Reopen Closed Tab}
      z {actionId: TabShiftActions.ToggleMaximizeRestore, description: Toggle split zoom}
    }
  }
  z {
    description: Zoom...
    bindings {
      "]" {actionId: EditorIncreaseFontSize, description: Increase Font Size}
      "[" {actionId: EditorDecreaseFontSize, description: Decrease Font Size}
      "=" {actionId: EditorResetFontSize, description: Reset Font Size}
      r {actionId: CollapseAllRegions, description: Collapse All Regions}
      R {actionId: ExpandAllRegions, description: Expand All Regions}
    }
  }
}
